@use 'utils/variables';
@use 'utils/reset';
@use 'utils/mixins';
@use 'utils/common';
@use 'components/banner-section';
@use 'components/clients-section';
@use 'components/features-section';
@use 'components/footer';
@use 'components/header';
@use 'components/mobile-modal';
@use 'components/modal';
@use 'components/portfolio-section';
@use 'components/tasks-section';
@use 'components/team-section';
