/*First section of the main page*/
@use '../utils/common';
@use '../utils/variables';

.banner {
  background-color: variables.$background-color-dark;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid variables.$logo-top-color;
  box-shadow: variables.$box-shadow-darker;
  &__container {
    @extend .container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 106px 0;
  }
  &__button {
    @extend %page-button;
    margin-top: 30px;
    padding: 10px 41px;
    width: 200px;
  }
  &__title {
    color: variables.$main-color;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
  }
}
