/*Fifth section of the main page - Our Clients*/
@use '../utils/common';
@use '../utils/variables';

.clients {
  .client {
    &__container {
      width: 210px;
      height: 92px;
      border: 1px solid variables.$icon-color;
      border-radius: 4px;
      cursor: pointer;
      padding: 16px 52px;
      transition: variables.$transition-fill, variables.$transition-border-color;
      &:hover,
      &:focus {
        border-color: variables.$active-color;
      }
      &:hover .client__icon,
      &:focus .client__icon {
        fill: variables.$active-color;
      }
    }
    &__icon {
      fill: variables.$icon-color;
      transition: variables.$transition-fill, variables.$transition-border-color;
    }
  }
}

@media screen and (max-width: 480px) {
  .clients {
    display: flex;
    flex-wrap: wrap-reverse;
    column-gap: 30px;
    .client__container {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}

@media screen and (min-width: 481px) {
  .clients {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 30px;
    .client {
      &__container {
        flex-basis: calc((100% - 60px) / 3);
        padding: 16px 60px;
        width: 226px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .clients {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .client {
      &__container {
        padding: 16px 32px;
        width: 170px;
      }
    }
  }
}
