/* Modal + Backdrop */
@use '../utils/common';
@use '../utils/variables';

.backdrop {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: variables.$box-shadow-darker;
}

.modal {
  background-color: variables.$main-color;
  border-radius: 4px;
  box-shadow: variables.$box-shadow-lighter;
  height: 609px;
  width: 450px;
  transition: visibility 950ms ease-in-out, opacity 950ms ease-in-out, transform 950ms ease-in-out;
  transform: translateY(50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: variables.$main-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  &__button {
    border: none;
  }
  &__button * {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 18px;
    height: 18px;
    background-color: variables.$main-color;
    border: none;
    cursor: pointer;
  }
  &__button:hover &__icon,
  &__button:focus &__icon {
    fill: variables.$active-color;
    transition: variables.$transition-fill;
  }
}

.is-hidden,
.is-hidden .modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(0%) scale(0);
}

.order-form {
  padding: 40px;
  &__button {
    @extend %page-button;
    padding: 10px 76px;
    margin: 30px 85px 0;
  }
  &__container {
    position: relative;
  }
  &__icon {
    position: absolute;
    left: 12px;
    top: 29px;
  }
  &__label {
    color: variables.$text-color;
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 1.16;
    margin-bottom: 4px;
  }
  &__link {
    color: variables.$active-color;
    text-decoration: underline;
  }
  &__title {
    color: variables.$header-color;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.5;
    margin-bottom: 12px;
    text-align: center;
  }
}

.order-form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }
  &:focus {
    border-color: variables.$active-color;
    transition: variables.$transition-border-color;
  }
}

.order-form__contact-detail {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  padding: 11px 0 11px 42px;
  &:focus {
    border-color: variables.$active-color;
    transition: variables.$transition-border-color;
  }
  &:focus-within + .order-form__icon {
    fill: variables.$active-color;
    transition: variables.$transition-fill;
  }
}

.order-form__statement {
  appearance: none;
  &-label {
    color: variables.$text-color;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.17;
    margin-left: 15px;
  }
  &:checked + &-label::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
    background-position: center;
    border: none;
  }
  &-container {
    position: relative;
  }
  &-label::before {
    display: block;
    position: absolute;
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid variables.$header-color;
    border-radius: 2px;
    top: 3px;
    left: -3px;
  }
}

@media screen and (min-width: 769px) {
  .modal {
    height: 581px;
    width: 528px;
  }
  .order-form__button {
    margin: 30px 124px 0;
  }
  .order-form__title {
    line-height: 1.15;
  }
  .order-form__statement-label {
    font-size: 14px;
    line-height: 1.71;
  }
  .order-form__statement-container {
    margin-left: 15px;
    margin-right: 14px;
  }
}
