/*Third section of the main page - What do we work with*/
@use '../utils/variables';

.boxes {
  column-gap: 30px;
  display: flex;
  justify-content: space-between;
  .box {
    position: relative;
    width: 370px;
    height: 294px;
    &__container {
      position: absolute;
      height: 70px;
      width: 370px;
      bottom: 0;
      background: rgba(47, 48, 58, 0.8);
    }
    &__img {
      display: inline-block;
    }
    &__title {
      color: variables.$main-color;
      font-size: 14px;
      line-height: 1.14;
      padding: 27px 0;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 768px) {
  .only-desktop {
    display: none;
  }
}
