/*Fourth section of the main page - Our Team*/
@use '../utils/variables';

.employee {
  background-color: variables.$main-color;
  box-shadow: variables.$box-shadow-lighter;
  border-radius: 0 0 4px 4px;
  max-width: 450px;
  &__social-links {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 16px;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
  &__title {
    color: variables.$header-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.section--team {
  background-color: variables.$background-color-light;
}

@media screen and (max-width: 480px) {
  .employee:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .employee {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .employees {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .employee {
      flex-basis: calc((100% - 30px) / 2);
      max-width: 354px;
    }
  }
}

@media screen and (min-width: 769px) {
  .employees {
    display: flex;
    justify-content: space-between;
    .employee__social-links {
      margin: 16px 32px 18px 32px;
      padding-bottom: 12px;
    }
  }
}
